header {
  background-color: #4a4a4a;
  color: blanchedalmond;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 25px;
}

main {
  background-color: #e4e4e4;
  width: 1700px;
  padding: 25px 0;
  border: solid 5px orange;
  margin: 500px auto;
}
